div.container
  div.row
    div.col-md-12
      header
        ol.breadcrumb
          li
            a(href="/")=title
      h1=title
      p "Where's the Metro?" makes use the the Washington Metropolitan Area Transit Authority API to predict arrival times to the Metro transit stations. It is by no means feature complete.
      h2 Terms and Conditions:
      p "Where's the Metro?" is not liable or responsible for the accuracy or completeness of any information provided on this website. We assume no liability or responsibility for any damages arising from a visitor's use of this web service. The contents are provided as general information only.
      h2 Privacy Policy
      p We neither collect nor share any information about users except analytical data via Google Analytics. In any event this policy changes, we will reflect the changes on this page.
      include footer.jade