doctype
html
  head
    title=subtitle+" - "+title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')
  body!= body
